:root {
    --color1: #3ABDB0;
    --color2: #FFFAEF;
    --color3: #F5F5F5;
    --color4: #181F2E;
    --color5: #36BCAE;
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url("../fonts/SFProDisplay-Heavy.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Regular.ttf")format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display Ultralight Italic";
    src: url("../fonts/SFProDisplay-UltralightItalic.ttf")format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display Ultralight";
    src: url("../fonts/SFProDisplay-Ultralight.ttf")format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Rustico";
    src: url('../fonts/Rustico-V2-Regular.otf') format("opentype");
}

body {
    background-color: #181F2E;
    color: var(--color2);
    height: 100%;

}

h1 h2 h3 h4 h5 h6 {
    color: var(--color2);
    letter-spacing: 32px;
}

p {
    color: var(--color2);
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 32px;

}

section {
    display: flex;
    align-items: center;
    padding: 5% 0 5%;
    height: 100vh;
}

/* Media Screen * */

@media only screen and (max-device-width: 480px) {
    #first-section, #second-section, #third-section, #ninth-section {
        height: 145vh;
    }

    .width50 {
        max-width: 50%;
    }
}

.container {
    margin: 0 15% 0 15%;
    align-content: center;
}
.paddingMiddle {
    padding-top: 3%;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop30 {
    margin-top: 0px;
}


/** Intro **/
.name {
    font-family: 'SF Pro Display Ultralight';
}

.experience {
    font-family: 'SF Pro Display Ultralight Italic';
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'SF Pro Display';
    color: #ffffff;
    font-size: 2.08vh;
    background: #3ABDB0;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}

.btn:hover {
    background: #36BCAE;
    text-decoration: none;
}

.details {
    padding-left: 20px;
    border-left: var(--color1) 3px solid;
}


/** Portfolio 0 **/

#name {
    color: var(--color1);
    margin-top: 13%;
    font-style: normal;
    font-family: 'Rustico';
    font-size: 10.47vh;
}

#case-study {
    color: var(--color2);
    font-style: normal;
    line-height: 57px;
    font-size: 6.28vh;
}

#company {
    color: var(--color2);
    line-height: 29px;
    text-transform: uppercase;
    font-size: 3.14vh;
}

/** Portfolio 1 **/

#first-section {
    justify-content: space-between;
}

#first-section h1 {
    font-family: 'SF Pro Display Bold';
}

.dark {
    background-color: var(--color1);
    color: var(--color2);
}

/** Portfolio 2 **/
#second-section {
    background-color: var(--color2);
    color: var(--color4);
}

.light {
    background-color: var(--color1);
    color: var(--color4);
}

.role {
    background-color: rgba(58, 189, 176, 0.15) !important;
    border-radius: 26px;
    border: 1px solid var(--color1) !important;
    color: var(--color1) !important;
    margin-right: 2%;
}

/** Portfolio 3 **/

/** Portfolio 4 **/

/** Portfolio 5 **/
#fifth-section {
    background-color: var(--color2);
    color: var(--color4);
}

#fifth-section p {
    color: var(--color4);
}

/** Portfolio 6 **/

/** Portfolio 7 **/

#seventh-section {
    background-color: var(--color2);
    color: var(--color4);
}

#seventh-section p {
    color: var(--color4);
}

/** Portfolio 8 **/

.rustic {
    color: var(--color1);
    font-family: 'Rustico';
}

/** Portfolio 9 **/
#ninth-section {
    background-color: var(--color2);
    color: var(--color4);
}

#ninth-section p {
    color: var(--color4);
}

.light {
    background-color: var(--color1);
    color: var(--color4);
}

.rustic {
    color: var(--color1) !important;
    font-family: 'Rustico';
}

#ninth-section .data-content {
    display: flex;
    justify-content: space-between;
}