/** Intro **/

.portfolio-1 {
    position: relative;
  
    color: var(--color2);
}

.content {
    position: absolute;
    width: 521px;
    height: 57px;
    margin: 169.21px 0 0 210.12px;
}

.content h1 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 1px;
}

.content h4 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

#img-1 {
    position: absolute;
    width: 242.59px;
    height: 242.59px;
    margin: 169.21px 0 0 1010.39px;

}

#problem {
    position: absolute;
    width: 92px;
    height: 32px;
    margin: 691.16px 0 0 93.37px;
    color: var(--color1);
    font-family: 'Rustico - V2';   
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    transform: rotate(-51.62deg);
}

#img-2 {
    box-sizing: border-box;
    position: absolute;
    width: 28.2px;
    height: 146.31px;
    margin: 579.48px 0 0 171.78px;
}

mark {
        background-color: var(--color1);
        color: var(--color2);
    }


